* {
    padding: 0;
    margin: 0;
}

html, body{
    margin: 0;
    width: 100%;
}
body {
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 60px auto;
    font-size: 3em;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(165px auto);
    grid-template-rows: 100px auto;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "m c c c c c c c c c c c";
}

nav {
    grid-area: m;
}

#render-view {
    grid-area: c;
    overflow: auto;
}

.logo-wrapper {
    grid-area: h;
    background-color: #5477A0;
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.14);
    z-index: 1;
    vertical-align: middle;
}

.logo-wrapper h2 {
    display: inline-block;
    padding-left: 40px;
    color: white;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 3px;
    font-size: 50px;
}

.logo-wrapper img { 
    margin-left: 25px;
    padding-top: 8px; 
    width: 100px;
}

h1 {
    font-family: 'Signika Negative', sans-serif;
}

.scrollmenu {
    background-color: #5477A0;
    width: 165px;
    height: 100%;
    z-index: -1;
}

.scrollmenu li {
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    display: block;
    color: white;
    text-align: left;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu li:hover{
    background-color: white;
    color: black;
}

#add-journey {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

#add-journey-form {
    margin: 20px 0;
}

#add-journey h1 {
    padding-top: 50px;
}

#add-journey-form input, select {
    display: block;
    margin: 10px auto;
}

#add-journey-form label {
    font-family: 'Alegreya Sans', sans-serif;
}

#add-journey-form input[type="radio"]{
    display: inline;
    margin: 0 5px;
}

#add-journey-form p {
    margin: 5px 0;
}

#render-view ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#render-view .cards {
    margin: 0 auto;
    text-align: center;
}

#render-view .card {
    
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
    background-color: white;
    color: dimgray;
    padding: 20px;
    text-justify: newspaper;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    width: 225px;
    border: 1px solid lightgray;
    border-radius: 25px;
    font-family: 'Signika Negative', sans-serif;
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.14);
}

#render-view hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#render-view .distanceLabel {
    margin-top: 20px;
    font-size: 16px;
}

#render-view .distance {
    font-size: 75px;
    width: 50%;
}

#render-view .distanceResult {
    font-size: 75;
    word-spacing: -15px;
}

#render-view .vehicleLabel {
    margin-top: 10px;
    word-spacing: 50px;
}

#render-view .fuelLabel {
    margin-top: 30px;
    word-spacing: 50px;
}

#render-view .fuelLine {
    margin-bottom: 30px;
}

#render-view #map {
    margin: 50px auto;
    display: block;
    width: 1600px; 
    height: 700px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.14);
}

#render-view #mapHeader {
    text-align: center;
}

#render-view #all_charts_container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "rs rs rs"
        "ec rd ."
        "pc pd ."
        "fp . .";
  
      
}

#render-view #render_emissions_chart{
    grid-area: ec;
}

#render-view #render_summary_container{
    grid-area: rs;
}

#render-view #render_distance_chart {
    grid-area: rd;
}
#render-view #render_projections_chart {
    grid-area: pc;
}

#render-view #render_projections_distance {
    grid-area: pd;
}

#render-view #render_fuel_pie_chart {
    grid-area: fp;
}